<div class="navigation"> <!-- creating navigation -->
        <ul>
            <li><a href="https://cs00932-com2025-lsaresit-casselwood.c9users.io">Home</a></li>
            <li><a href="https://cs00932-com2025-lsaresit-casselwood.c9users.io/topics">Topics</a></li>
        </ul>
    </div>

<h1>Editing Topic</h1>

<%= render 'form' %>

<%= link_to 'Show', @topic %> |
<%= link_to 'Back', topics_path %>
