<div class="navigation"> <!-- creating navigation -->
        <ul>
            <li><a href="https://cs00932-com2025-lsaresit-casselwood.c9users.io">Home</a></li>
            <li><a href="https://cs00932-com2025-lsaresit-casselwood.c9users.io/topics">Topics</a></li>
        </ul>
    </div>

<div class="title">
<h1>Topics</h1>
<h4>What would you like to read today?</h4>
</div>